body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
}

    .item:active, .clickable-box:active {
        background-color: #45a049;
    }

.slider, .input-field, .dropdown {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 18px;
    cursor: auto;
}

.separator {
    width: 5px;
    background-color: #ccc;
    cursor: col-resize;
}

.content {
    margin-left: 205px;
    padding: 10px;
    flex-grow: 1;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.buy-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buy-button:hover {
    background-color: #0056b3;
}